__pycache__/
tmp/
keys/
.env
*.log
*.sqlite3
.vscode/
.DS_Store
.venv/
.conda/
.ipynb_checkpoints/
__pypackages__/
.mypy_cache/
.pytest_cache/
.pyre/
.pytype/
coverage/
htmlcov/
.tox/
.nox/
descriptors/
data_store/
*.geojson
*.jsonl
*.db
*.json
dummy_datasets/*
.graph_cache/
.graph_tiles/
